@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #e7edff, #f8fbff);
}

.nav {
    background: #6b92ff;
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    position: relative;
}

.nav a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: .3s;
}

.nav a:hover::after {
    width: 100%;
}

.hero {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #2f2f2f;
    margin-top: 40px;
}

.form-box {
    background: white;
    width: 90%;
    max-width: 650px;
    margin: 40px auto;
    padding: 30px 40px;
    border-radius: 14px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}

label {
    display: block;
    font-weight: 500;
    margin: 15px 0 8px 0;
    color: #333;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    transition: 0.25s;
}

input:focus, select:focus, textarea:focus {
    border-color: #6b92ff;
    box-shadow: 0 0 6px rgba(107, 146, 255, 0.4);
}

textarea {
    height: 100px;
    resize: none;
}

.image-preview img {
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.save-btn {
    margin-top: 25px;
    width: 100%;
    background: #6b92ff;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.save-btn:hover {
    background: #547be7;
}
